#functionTiles{
	display:none;
}
.detail-view{

    /*background-color: white;
    float: left;
    width: 610px;
    margin-left: 5px;
    margin-top: 5px;
    padding-right: 10px;
    min-height: 150px;
	border: 3px solid white;
	border-top:0px;
	display:none;*/
	float: left;
    width: calc(96% + 10px);
    margin-left: 5px;
    margin-top: 5px;
    padding-right: 10px;
    min-height: 150px;
    border: 3px solid white;
    border-top: 0px;
    display: none;

}

.detail-view-content{
	padding:15px;
}

.detail-view-right>div.margin{
    /*height: 10px;
    width: 300px;
    margin-left: 307px;
    margin-top: -10px;
    border: 3px solid;
    border-top: 0;
    border-bottom: 0;*/
	
	height: 10px;
    width: calc(50% + 3px);
    margin-left: calc(50% + 10px);
    margin-top: -10px;
    border: 3px solid;
    border-top: 0;
    border-bottom: 0;
}

.detail-view-left>div.margin{
    /*height: 10px;
    width: 300px;
	margin:0;
    margin-top: -10px;
	margin-left: -3px;
    border: 3px solid;
    border-top: 0;
    border-bottom: 0;*/
	height: 10px;
    width: calc(50% + 3px);
    margin: 0;
    margin-top: -10px;
    margin-left: -3px;
    border: 3px solid;
    border-top: 0;
    border-bottom: 0;
}

	.detail-view-left> hr{
		/*width: 310px;
		padding: 0;
		margin: 0;
		border-top: 2px solid white;
		margin-left: 294px;*/
		width: calc(50% + 13px);
		padding: 0;
		margin: 0;
		border-top: 2px solid white;
		margin-left: calc(50% + -3px);
	}

	.detail-view-right> hr{
		/*width: 310px;*/
		width: calc(50% + 13px);
		padding: 0;
		margin: 0;
		border-top: 2px solid white;
	}

.weather-entry{
	clear:both;
	display:block;
	margin-bottom:10px;
	height:65px;
}
.weather-entry::after{
	clear:both;
}

#rainbowLightContainer{
	display:none;
}

.range-input{
	width:100%;
}
.range-input > input[type=range]{
	width:65% !important;
	margin: 0 5px !important;
}
	.range-input > input[type=text]{
	width:85px !important;
	font-size:25px;
	margin-left:10px;
}
.tile{
	/*width:300px !important;*/
	width:48% !important;
	}
.tile-border{
	border: 3px solid white;
	border-bottom: 0;
	box-shadow:none;
}
.tile-label{
	font-size:1.7em;
}
.tile-group{
	margin: 0 auto !important;
	float:none !important;
}
.double{
	/*width:640px !important;*/
	width:100% !important;
}
#humidityDetails .mif-arrow-down:before{
	color:orange;
}
#humidityDetails .mif-arrow-up:before{
	color:blue;
}

#temperatureDetails .mif-arrow-down:before{
	color:blue;
}
#temperatureDetails .mif-arrow-up:before{
	color:orange;
}

#airqualityDetails .mif-arrow-down:before{
	color:lightblue;
}
#airqualityDetails .mif-arrow-up:before{
	color:brown;
}

.minicolors-panel{
	background:none !important;
	border:none !important;
}
.minicolors-slider-wheel .minicolors-slider{
	display:none !important;
}

.color-range-span{
	display:inline-block;
	width:65px;
}
.switch-original input[type="checkbox"]:checked ~ .check {
    background: green !important;
}
.switch-original .check:after {
    outline: 2px white solid !important;
    border: 1px white solid !important;
    background: white !important;
}
.switch-original .check{
	background:red !important;
	width:90px !important;
}

.switch-original input[type="checkbox"]:checked ~ .check:after{
	transform: translateX(5.5rem);
}
.color-picker-slider {
	width:60%;
}
.button.success, .button.danger{
    height: 50px;
    font-size: 18px;
    border: 2px solid white;
	width:200px;
}
@media (max-width: 1000px) {
  .color-picker-slider {
    width:100% !important;
  }
  .color-picker-circle-container{
	clear: both;
    text-align: center;
  }
}